@font-face {
  font-family: font_one;
  src: url(font_one.otf);
}

@font-face {
  font-family: font_two;
  src: url(font_two.otf);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 16vh;
  background-color: #e5e5e5;
}

main {
  width: 100%;
  position: fixed;
  top: 100px;
  bottom: 0;
  overflow: auto;
}

p {
  font-size: 20px;
}

.header {
  font-style: bold;
  color: red;
  padding-top: 30px;
}

h2 {
  font-size: 35px;
  font-family: font_one;
}

/* N A V B A R */

.navbar {
  min-height: 100px;
  float: none;
  text-align: center;
  width: 100%;
  border: none;
  margin: 0;
  position: fixed;
  top: 0;
}

.navbar-header {
  float: none;
  display: inline-block;
}

.home-button {
  font-size: 45px;
}

.navbar-nav {
  float: none;
  display: inline-block;
  font-size: 25px;
}

.navbar-nav li {
  padding: 5px 0;
}

.navbar-nav li a {
  color: black !important;
  display: inline-block;
  position: relative;
  margin: 0 30px;
  padding: 0;
  width: 165px;
  font-family: font_one;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
}

.navbar-nav li a.navlink:hover {
  text-decoration: underline;
}

.navbar-nav li a.navlink:focus {
  text-decoration: underline;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* H O M E P A G E */

.homebg {
  background-image: url("../assets/mint_bg.jpg");
  height: 100%;
  background-size: cover;
  position: relative;
}

.welcome {
  text-align: center;
  color: white;
  font-family: font_one;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 430px;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
}

.one {
  font-size: 50px;
  font-family: font_two;
  height: 50px;
}

.two {
  font-size: 120px;
}

.three {
  font-size: 30px;
  letter-spacing: 20px;
}

.four {
  font-size: 30px;
  padding-top: 20px;
  letter-spacing: 5px;
}

.glyphicon-leaf {
  font-size: 40px;
  padding-top: 20px;
}

/* A B O U T */

.about-content {
  padding: 40px 20%;
}

/* L U N C H  /  D I N N E R */

.time {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  font-family: font_one;
}

.choice-of-meat {
  text-align: center;
  padding: 10px;
}

.price-combo {
  margin-bottom: 0;
  font-size: 16px;
  font-style: italic;
  color: grey;
}

h3 {
  padding-bottom: 15px;
  font-family: font_one;
  font-size: 25px;
}

section {
  padding-bottom: 40px;
}

.english-name {
  color: black;
}

.thai-name {
  color: red;
}

.english-name,
.thai-name {
  font-size: 18px;
}

.description {
  font-size: 18px;
  color: grey;
}

.price {
  float: right;
  font-size: 15px;
}

.drink-name {
  font-size: 18px;
}

.table {
  display: table;
  margin: 0 auto;
}

.spices {
  list-style: none;
  text-align: center;
}

.spices li {
  padding: 5px 10px;
  margin: 0 5px;
  width: 120px;
  display: inline-block;
}

.warning {
  text-align: center;
}

/* C O N T A C T */

.address{
  font-size: 25px;
  padding: 20px;
}

.phone {
  font-style: italic;
  color: grey;
}

.hours {
  padding-bottom: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  color: grey;
  font-size: 20px;
  padding-bottom: 10px;
}

.circle1 {
  border: 3px solid white;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  background-image: url("../assets/mint_location.png");
  padding: 2px;
  margin: auto;
  display: block;
}

.circle2 {
  border: 3px solid white;
  width: 660px;
  height: 660px;
  border-radius: 50%;
  padding: 2px;
  margin: auto;
  display: block;
}

.icons {
  padding: 15px;
}

.delivery {
  font-family: font_one;
  color: red;
}

.delivery:hover {
  color: darkslategrey;
  text-decoration: none;
}

.deliveryText {
  color: red;
  font-size: 25px;
  text-decoration: none;
}

.deliveryText:hover {
  color: darkslategrey;
  text-decoration: none;
}


.delivery i:hover {
  color: darkslategrey;
}


